{:source-paths ["src"]
 :dependencies [[funcool/promesa "8.0.450"]
                [com.andrewmcveigh/cljs-time "0.5.2"]

                [cider/cider-nrepl "0.26.0"]]
 :builds {:api
          {:target :node-library
           :exports {:taskReminder lib.api.tasks/task-reminder
                     :listMeals lib.api.meals/list-meals
                     :createMeal lib.api.meals/create-meal
                     :updateMeal lib.api.meals/update-meal
                     :cookMeal lib.api.meals/mark-as-cooked
                     :deleteMeal lib.api.meals/delete-meal}
           :js-options {:js-package-dirs ["./lib/node_modules"]}
           :output-dir "lib"
           :output-to "lib/handler.js"}}}
